/*
    Generella stilregler samt stilregler specifika för mobiltelefoner
*/

@font-face {
    font-family: 'Fjalla One';
    src: url(../fonts/FjallaOne-Regular.ttf);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Fjalla One', sans-serif;
    color: #1F1F1F;
    background-color: #CDC9C5;
}

main {
    background-color: #FFFFFF;
    z-index: 900;
    border-top: 1px solid #FF9933;
    margin: 1em 0 1em 0;
    text-align: justify;
}

aside {
    background-color: #FFFFFF;
    border-top: 1px solid #FF9933;
}

#content-wrapper {
    width: 90%;
    position: relative;
    left: 5%;
}

/*
    Stilregler för text-innehåll
*/
.main-article {
    padding: 0 1em 1em 1em;
}

.only-article {
    padding: 0 1em 1em 1em;
    /*width: 95%;
    position: relative;
    left: 2.5%;*/
}

.news-article {
    border-bottom: 1px solid black;
}

h2 {
    text-align: center;
}

/*
    ------------------------------------------------------------
*/

/*
    Stilregler för bild-innehåll
*/
.images-container {
    padding: 1em 1em 0 1em;
}

img {
    width: 100%;
}

.image-quote {
    font-style: italic;
    border-top: 1px solid black;
    padding: 1em;
    text-align: center;
}

.info-text {
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
}

.portrait {
    position: relative;
    padding: 0.5em 0.5em 0 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    width: 50%;
    left: 20%;
    border: 1px solid black;
}


/*
    Stilregler för header
*/
header {
    background: url(../images/layout/header.png) 100% 100% no-repeat;
    height: 5em;
    width: 100%;
}

.header-title-bg {
    background-color: #CDC9C5;
    text-align: right;
    width: 40%;
    position: relative;
    top: 1em;
}

.header-title {
    margin-right: 1em;
    font-size: 1.5em;
    margin-top: 0;
}
/*
    ------------------------------------------------------------
*/


/*
    Stilregler för att hålla headern rätt oavsett scrollning
*/
nav {
    height: 9em;
    background-color: #FFFFFF;
    padding-top: 0.5em;
    z-index: 1000;
    border-bottom: 1px solid black;
}

.scrolled-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.scrolled-nav + #content-wrapper {
    margin-top: 10.5em;
}

ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    list-style-type: none;
    display: block;
    font-size: 0.8em;
    padding: 0.1em;
}

a {
    text-decoration: none;
    color: inherit;
}

.active {
    text-decoration: underline;
    text-decoration-color: #CDC9C5;
}
/*
    ------------------------------------------------------------
*/


/*
    Stilregler för att hålla footern rätt oavsett mängd innehåll
*/
#wrapper {
    min-height: 100%;
    margin-bottom: -3em;
}

footer, .footer-pusher {
    height: 3em;
}

footer {
    background-color: #FFFFFF;
    text-align: center;
    padding: 0.1em 1em 0.5em 1em;
}

.footer-text {
    font-size: 0.7em;
}
/*
    ------------------------------------------------------------
*/


/*
    Stilregler för skärmar med en vidd över 432px (traditionella datorer, surfplattor, etc)
*/
@media (min-width: 432px) {
    /*
        Stilregler för att placera huvudsakligt innehåll korrekt på större skärmar
    */
    .double-column-wrapper-1, .double-column-wrapper-2 {
        display: grid;
        grid-template-rows: 100%;
        grid-column-gap: 2%;
    }
    
    .double-column-wrapper-1 {
        grid-template-columns: 69% 29%;
    }

    .double-column-wrapper-2 {
        grid-template-columns: 29% 69% ;
    }

    .double-main-1, .double-aside-2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .double-aside-1, .double-main-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .double-aside-1, .double-aside-2 {
        margin: 1em 0 1em 0;
    }
    /*
        --------------------------------------------------------
    */

    /*
        Stilregler för bildinnehåll
    */
    .portrait {
        width: 11em;
        float: left;
        margin: 0.5em 0.5em 0 0;
        padding: 1em 1em 1em 1em;
        left: 0;
        display: block;

/*
        position: relative;
        margin: 1em 1em 1em 1em;
        width: 50%;
        left: 20%;
        text-align: center;*/
    }
    /*
        --------------------------------------------------------
    */

    /*
        Stilregler för att hålla headern rätt oavsett scrollning
    */
    nav {
        height: 2em;
    }

    .scrolled-nav + #content-wrapper {
        margin-top: 2.5em;
    }

    li {
        display: inline-block;
        margin: 0 1% 0 1%;
    }
    /*
        --------------------------------------------------------
    */
}
/*
    ------------------------------------------------------------
*/


/*
    Stilregler specifika för "traditionella" datorskärmar
*/
/*
@media (min-width: 1001px) {

    main {
        width: 37em;
        margin: 1em;
    }

    aside {
        width: 22.5em;
        left: 0;
        margin: 1em 1em 1em 0;
    }

    .center-wrapper {
        max-width: 63em;
        margin: 0 auto;
        display: block;
    }

    .single-center-wrapper {
        max-width: 63em;
    }
}*/